.app {
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-areas:
    "header header header"
    "content content sidebar";
  min-height: 100vh;
  padding: 0 10rem;
}

header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-content: center center;
  grid-area: header;
  background-color: #345ce0;
}

header h1 {
  grid-column: 2;
  text-align: center;
}

header .session {
  grid-column: 3;
  align-self: center;
  justify-self: end;
  padding-right: 2rem;
}

.session button {
  border: none;
  background-color: white;
  border-radius: 20px;
  font-size: 1.2rem;
  color: #345ce0;
  height: 50px;
  width: min-content;
  padding: 0 1.5rem;
  align-self: center;
  cursor: pointer;
}

.content {
  grid-area: content;
  padding: 2rem;
}

.sidebar {
  display: grid;
  grid-template-rows: 1fr 1fr;
  color: white;
  grid-area: sidebar;
  padding: 1rem;
  background-color: #101010;
}

.blog-title {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  text-align: center;
  color: black;
  background-color: #e6e6e6;
}

.blog-title h3 {
  margin: 0;
}
