.app-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #e6e6e6;
  padding: 40px;
  border-radius: 10px;
}

.app-form label {
  align-self: flex-start;
  color: black;
}

.app-form div {
  display: flex;
  flex-direction: column;
}

.app-form button {
  border: none;
  background-color: #345ce0;
  border-radius: 20px;
  font-size: 1.2rem;
  color: white;
  height: 50px;
  width: min-content;
  padding: 0 1.5rem;
  align-self: center;
  cursor: pointer;
}

.app-form button:hover {
  filter: brightness(150%);
}
